@import "../../node_modules/bootstrap/scss/bootstrap";

body {

  header {
    margin: {
      top: 18px;
      bottom: 40px;
    }
  }

  form {

    textarea {
      height: 64px;
      resize: none;

      @include media-breakpoint-up(md) {
        height: 210px;
      }
    }


  }

  // canvas {
  //   width: 160px;
  //   height: 160px;
  // }

  // canvas#output {
  //   width: 488px;
  //   height: 488px;
  // }

  #output {
    border-color: $primary;
  }

}
